<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>| NBA Analysis</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}" />
</head>

<body>

  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 jumbotron text-center">
        <h1><a href="https://github.com/Jonnybobba/NBA_Analysis", style="color: black;">NBA Analysis</a></h1>
        <p>Jacob Stryker | Jonathan Stafford-Bentley | Steve Ovsak | Cassian Samaniego | Joel Watkins | Abraham Youkhanna</p>
        <p><a href="https://public.tableau.com/profile/joel.watkins#!/vizhome/NBA_Stats_16131910288430/Story1?publish=yes", style="color: black;">Tableau Link</a></p>
      </div>
    </div> 
  
  <div class = "row-content">
    <div class="col-sm-12 col-med-12 col-lg-12">
        <h2 class="text-left">    <img src="{{ url_for('static', filename= 'images/NBA-icon.png')}}" height="50px" width="50px" class="" alt="#">
          Summary</h2>
        <hr class="my-4">
        <p>Description of project...
    </p>
  
    
  </div>
<div class="col-sm-12 col-med-12 col-lg-12">
  <h2 class="text-left"> <img src="{{ url_for('static', filename= 'images/NBA-icon.png')}}" height="50px" width="50px" class="" alt="#"> Visualizations</h2>
  <hr class="my-4">
  <p>Description of Visualizations...
  </p>
  <a href="">
    <img src="{{ url_for('static', filename= 'images/PPG.png')}}" height="300px" width="400px" class="rounded float-left thumbnail" alt="#">
    </a>
  <a href="#">
    <img src="{{ url_for('static', filename= 'images/PPG_Allowed.png')}}" height="300px" width="400px" class="rounded float right thumbnail" alt="#">
  </a>
  
</div>
</div>
<div class = "row-content">
  <div class="col-sm-12 col-med-12 col-lg-12">
      <h2 class="text-left"><img src="{{ url_for('static', filename= 'images/NBA-icon.png')}}" height="50px" width="50px" class="" alt="#"> Machine Learning</h2>
      <hr class="my-4">
      <p>Description of Machine Learning Modules...
  </p>
  

</div>
<div class = "row-content">
  <div class="col-sm-12 col-med-12 col-lg-12">
      <h2 class="text-left"><img src="{{ url_for('static', filename= 'images/NBA-icon.png')}}" height="50px" width="50px" class="" alt="#"> Conclusion</h2>
      <hr class="my-4">
      <p>Conclusion of project...
  </p>
</div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script src="{{ url_for('static', filename='js/app.js') }}"></script>

</body>

</html>
